.table-w100 {
	width: 100%;
	display: table;
	table-layout: fixed;

	> thead, tbody {
		width: 100%;
	}

	> thead {
		> tr {
			> th:first-child {
				text-align: center;
			}
		}
	}

	> tbody {
		> tr.title {
			> td {
				font-weight: 500;
				font-size: 1.2em;
				background-color: rgba(158, 206, 90, 0.25);
				padding: 10px 60px;
			}
		}

		> tr:not(.title) {
			background-color: transparent !important;

			> td:first-child {
				text-align: center;
				font-weight: bold;
			}
		}
	}
}
