@font-face {
    font-family: "JetBrains Mono";
    src: url("../font/JetBrainsMono-Regular.woff2") format("truetype");
}

@font-face {
    font-family: "JetBrains Mono Bold";
    src: url("../font/JetBrainsMono-Bold.woff2") format("truetype");
}

@font-face {
    font-family: "JetBrains Mono Italic";
    src: url("../font/JetBrainsMono-Italic.woff2") format("truetype");
}

$fontFamily: "JetBrains Mono", "微软雅黑", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;

* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: $fontFamily;
}

#app {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: $fontFamily;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: unset;
    cursor: pointer;
    border: none;
}
