@import "dark-theme";
@import "screen-lg";

$tableBorderColor: #7f8c8d;
$defaultFontFamily: system-ui, Segoe UI, -apple-system, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji, sans-serif;

:root {
    --vp-c-bg: #f9f9f9;
    --vp-c-text-1: #2d3436;
    --vp-c-text-2: #606569;
    --vp-code-block-bg: #292b30;
    --vp-code-tab-text-color: white;
    --vp-code-tab-active-text-color: lightgreen;
    --vp-code-tab-hover-text-color: white;
    --vp-code-tab-active-bar-color: lightgreen;
    --vp-code-block-divider-color: #606569;
    --vp-code-line-number-color: white;
}

@font-face {
    font-family: "RecMonoCasual";
    font-style: normal;
    src: url("https://namichong.obs.cn-south-1.myhuaweicloud.com/CDN/RecMonoCasual-Regular-1.085.woff2") format("woff2");
}

html, body {
    font-size: 16px;
    font-weight: 500;
    font-family: $defaultFontFamily;
    scroll-behavior: smooth;
}

[class*='level-'].VPSidebarItem.is-link > .item > .link:hover .text {
    color: #ff6348 !important;
}

.container .title {
    font-size: 20px;
}

.VPContent {
    .VPHome {
        .main {
            > .text {
                font-size: 36px;
                line-height: 42px;
            }

            > .tagline {
                font-size: 24px;
                line-height: 28px;
            }
        }
    }
}

.vp-doc {
    * {
        font-family: "RecMonoCasual", $defaultFontFamily;
        font-synthesis: style weight;
    }

    h1 {
        text-align: center;
    }

    $fontColor: #1a76ff, #00c200, #f16418, #5a55c0, #ffeaa7, #dfe6e9;

    @for $i from 1 through 6 {
        h#{$i}[tabindex] {
            //content: 'H#{$i}';
            //margin-right: 5px;
            //display: inline-block;
            //position: absolute;
            //font-size: 12px;
            //left: -20px;
            opacity: .85;
            color: nth($fontColor, $i);
        }
    }

    img {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
        cursor: pointer;
        max-height: 90vh;
    }

    .VPBadge {
        margin-right: 5px;
    }

    :not(pre) > code {
        background-color: #e2faff;
        color: orangered;
        font-weight: 600;
        padding: 2px 4px;
        margin: 0 5px;
    }

    .custom-block {
        color: var(--vp-c-text-1);

        code {
            background-color: #d7f5fc;
            color: orangered;
        }
    }

    table {
        > thead th {
            background-color: #463297;
            color: white;
            border-color: $tableBorderColor;
        }

        > tbody {
            td {
                white-space: nowrap;
                border-color: $tableBorderColor;

                &.info {
                    background-color: white;

                    > .table-title {
                        margin-top: 0;
                        font-weight: bold;
                        font-size: 1.2em;
                    }

                    > table {
                        margin: 10px 0;
                    }
                }
            }
        }
    }

    .tree-box {
        background-color: var(--vp-code-block-bg);
    }
}

.group {
    user-select: none;

    &:nth-of-type(1) {
        .items {
            padding-left: 0;
        }
    }

    .item {
        .text {
            display: flex;
            align-items: center;

            svg {
                display: inline;
                margin-right: 5px;
            }
        }

        h2 {
            font-size: 1.2em;
        }
    }

    .items {
        padding-left: 15px;
    }
}

.pager-link .title svg {
    display: none;
}

.viewer-backdrop {
    background-color: rgba(0, 0, 0, .9);
}

.star-point-bg {
    background-color: unset !important;
    backdrop-filter: saturate(50%) blur(4px);
    -webkit-backdrop-filter: saturate(50%) blur(4px);
    background-image: radial-gradient(transparent 1px, var(--vp-c-bg-soft) 1px);
    background-size: 4px 4px;
}
