@import "dark-theme";
@import "screen-lg";

$tableBorderColor: #7f8c8d;
$defaultFontFamily: RecMonoCasual, SanJiLuRongTi, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji, sans-serif;

:root {
    --vp-c-text-1: #2d3436;
    --vp-c-text-2: #606569;
    --vp-code-block-bg: #292b30;
    --vp-code-tab-text-color: white;
    --vp-code-tab-active-text-color: lightgreen;
    --vp-code-tab-hover-text-color: white;
    --vp-code-tab-active-bar-color: lightgreen;
    --vp-code-block-divider-color: #606569;
    --vp-code-line-number-color: white;
}

@font-face {
    font-family: "SanJiLuRongTi";
    src: url("https://namichong.obs.cn-south-1.myhuaweicloud.com/CDN/SanJiLuRongTi-Xi-2.woff2") format("woff2");
}

@font-face {
    font-family: SanJiLuRongTi-Cu;
    src: url("https://namichong.obs.cn-south-1.myhuaweicloud.com/CDN/SanJiLuRongTi-Cu-2.woff2") format("woff2");
}

@font-face {
    font-family: "RecMonoCasual";
    src: url("https://namichong.obs.cn-south-1.myhuaweicloud.com/CDN/RecMonoCasual-Regular-1.085.woff2") format("woff2");
}

html, body {
    font-size: 16px;
    font-weight: 500;
    font-family: $defaultFontFamily;
}

[class*='level-'].VPSidebarItem.is-link > .item > .link:hover .text {
    color: #ff6348 !important;
}

.container .title {
    font-size: 20px;
}

.VPContent {
    .VPHome {
        .main {
            > .text {
                font-size: 36px;
                line-height: 42px;
            }

            > .tagline {
                font-size: 24px;
                line-height: 28px;
            }
        }
    }
}

.vp-doc {
    h1 {
        text-align: center;
    }

    $fontColor: #1a76ff, #00c200, #f16418, #5a55c0, #ffeaa7, #dfe6e9;

    @for $i from 1 through 6 {
        h#{$i}[tabindex] {
            //content: 'H#{$i}';
            //margin-right: 5px;
            //display: inline-block;
            //position: absolute;
            //font-size: 12px;
            //left: -20px;
            opacity: .85;
            color: nth($fontColor, $i);
        }
    }

    img {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
        cursor: pointer;
        max-height: 90vh;
    }

    em {
        font-synthesis: style weight;
    }

    .VPBadge {
        margin-right: 5px;
    }

    code {
        font-family: $defaultFontFamily;
    }

    strong, b {
        font-family: SanJiLuRongTi-Cu, $defaultFontFamily;
    }

    :not(pre) > code {
        background-color: #e2faff;
        color: orangered;
        font-weight: 600;
        padding: 2px 4px;
        margin: 0 5px;
    }

    .custom-block {
        color: var(--vp-c-text-1);

        code {
            background-color: #d7f5fc;
            color: orangered;
        }
    }

    .custom-block-title {
        font-family: SanJiLuRongTi-Cu, $defaultFontFamily;
    }

    table {
        > thead th {
            background-color: #463297;
            color: white;
            border-color: $tableBorderColor;
        }

        > tbody {
            td {
                white-space: nowrap;
                border-color: $tableBorderColor;

                &.info {
                    background-color: white;

                    > .table-title {
                        margin-top: 0;
                        font-weight: bold;
                        font-size: 1.2em;
                    }

                    > table {
                        margin: 10px 0;
                    }
                }
            }
        }
    }

    .tree-box {
        background-color: var(--vp-code-block-bg);
    }
}


.group {
    user-select: none;

    &:nth-of-type(1) {
        .items {
            padding-left: 0;
        }
    }

    .item {
        .text {
            display: flex;
            align-items: center;

            svg {
                display: inline;
                margin-right: 5px;
            }
        }

        h2 {
            font-size: 1.2em;
        }
    }

    .items {
        padding-left: 15px;
    }
}

.pager-link .title svg {
    display: none;
}

.viewer-backdrop {
    background-color: rgba(0, 0, 0, .9);
}

/* 设置全局滚动条样式 */
* {
    /*--ms-滚动条--*/
    scrollbar-width: auto;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;

    /*-webkit-滚动条*/
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: transparent;
    }

    /*-webkit-滑块*/
    &::-webkit-scrollbar-thumb {
        height: 50px;
        outline-offset: -2px;
        outline: 2px white solid;
        border-radius: 4px;
        border: 2px transparent solid;
        background-color: rgba(0, 0, 0, 0.2);
    }

    /*-webkit-滑块hover效果*/
    &::-webkit-scrollbar-thumb:hover {
        height: 50px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .4);
    }

    /*-webkit-滚动框*/
    &::-webkit-scrollbar-track-piece {
        -webkit-border-radius: 0;
        background-color: transparent;
    }

    /* -webkit-滑轨 */
    &::-webkit-scrollbar-track {
        right: 0;
        background-color: transparent;
    }

    /* -webkit-滑轨两头的按钮 */
    &::-webkit-scrollbar-button {
        // display: none;
        height: 8px;
        width: 8px;
        background-color: transparent;
    }

    /* -webkit-边角 */
    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}
