@media (min-width: 1440px) {
    .VPSidebar, .VPNavBar.has-sidebar .title {
        padding-left: min(32px, calc((100% - (var(--vp-layout-max-width) - 64px)) / 2)) !important;
    }

    .group {
        width: 100% !important;
    }

    .VPContent.has-sidebar{
        padding-right: 0 !important;

        .VPDoc.has-aside {
            .container {
                .content-container {
                    max-width: unset !important;
                }

                .aside {
                    max-width: 480px !important;
                    width: calc((100% - (var(--vp-layout-max-width) - 64px)) / 2 + 480px - 32px) !important;
                }
            }
        }
    }
}

.VPContent {
    .VPHome {
        .main {
            > .text {
                font-size: 36px;
                line-height: 42px;
            }
            > .tagline {
                font-size: 24px;
                line-height: 28px;
            }
        }
    }
}

.vp-doc {
    h1 {
        text-align: center;
    }

    img {
        cursor: pointer;
        max-height: 90vh;
    }

    em {
        font-synthesis: style weight;
    }

    table.mk {
        tr {
            > :nth-child(1) {
                text-align: right;
            }
        }
    }
}

.group {
    user-select: none;

    &:nth-of-type(1) {
        .items {
            padding-left: 0;
        }
    }

    .item {
        .text {
            display: flex;
            align-items: center;

            svg {
                display: inline;
                margin-right: 5px;
            }
        }

        h2 {
            font-size: 1.2em;
        }
    }

    .items {
        padding-left: 15px;
    }
}

.pager-link .title svg {
    display: none;
}

.dark svg.icon {
    fill: white;
}
