$fontFamily: "微软雅黑", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;

// article content style
@mixin content {
    .VPDoc {
        * {
            font-family: "JetBrains Mono", $fontFamily !important;
        }

        strong, b {
            font-weight: "JetBrains Mono Bold", $fontFamily !important;
        }

        em, i {
            font-style: "JetBrains Mono Italic", $fontFamily !important;
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: bold;
            margin: 1em 0;
            padding: 0;
            border: unset;
        }

        h1 {
            font-size: 2em;
            margin-top: 0;
        }

        h2 {
            font-size: 1.8em;
        }

        h3 {
            font-size: 1.65em;
        }

        h4 {
            font-size: 1.5em;
        }

        h5 {
            font-size: 1.35em;
        }

        h6 {
            font-size: 1.2em;
        }

        ul, ol {
            padding-left: 2em;
        }

        :not(pre) > code {
            font-size: .875em !important;
            margin: 0 .2em !important;
            padding: .12em .5em !important;
        }

        pre > code {
            font-size: .875em !important;
        }

        div[class*="language-"] {
            margin: 1em 0;
        }

        .header-anchor::before {
            display: none !important;
            cursor: none !important;
        }

        blockquote > p {
            font-size: 1em !important;
        }
    }
}
