@mixin sidebar {
    --sidebar-bg: #F7F8FA;
    --sidebar-border-color: #EBECF0;
    --sidebar-hover-bg: rgba(223, 225, 229, 0.36);
    --sidebar-active-bg: #DFE1E5;
    --sidebar-focus-bg: #D4E2FF;
    --sidebar-header-height: 2rem;
    --sidebar-header-font-size: .875rem;
    --sidebar-header-button-size: 1.25rem;
    --sidebar-header-button-color: #818181;
    --sidebar-header-button-hover-bg: #E9E9EB;
}
