@use './variables/header' as *;
@use 'variables/actionBar' as *;
@use './variables/scrollbar' as *;
@use './variables/sidebar' as *;
@use './variables/footer' as *;
@use './variables/main' as *;
@use './variables/content' as *;

.nano-theme {
    --scale: 0;
    --base-size: calc((var(--scale) * 1px) + 16px);

    * {
        font-size: var(--base-size);
    }
}

:root {
    @include header;
    @include actionBar;
    @include sidebar;
    @include footer;
    @include main;
}

@include scrollbar;
@include content;
